In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

Q1 - Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.simplefilter(action = 'ignore', category = DeprecationWarning)

In [3]:
driver = webdriver.Chrome(r"C:\Users\Abhijeet\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
driver.get('https://www.naukri.com/')

In [5]:
# Finding element for job search bar

search_job = driver.find_element_by_id('qsb-keyword-sugg')

search_job.send_keys('Data Analyst')

In [6]:
# Finding Element for Location 

search_loc = driver.find_element_by_id('qsb-location-sugg')

search_loc.send_keys('Bangalore')

In [9]:
# For clicking on search button

search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

search_btn.click()

In [57]:
# Making empty lists

job_title = []
company_name= []
location = []
exp =[]

In [18]:
# Finding Element for job titles

title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

for i in title_tags:
    job_title.append(i.text)
    
job_titles = job_title[0:10]

In [24]:
# Finding Element for job company name

company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

for i in company_tags:
    company_name.append(i.text)
    
company_names = company_name[0:10]

In [68]:
# Finding Element for job location

location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

for i in location_tags:
    location.append(i.text)
    
locations = location[0:10]

In [69]:
# Finding Element for experience

exp_tags= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

for i in exp_tags:
    exp.append(i.text)
    
    
exp_ = exp[0:10]

In [70]:
print(len(job_titles),len(company_names),len(locations),len(exp_))

10 10 10 10

In [73]:
df = pd.DataFrame({'Job_title':job_titles,'Location':locations,'Company_names':company_names,'Experience':exp_})
df

,Job_title,Location,Company_names,Experience
0,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-7 Yrs
1,Senior Data Analyst for HANA Platform,Bangalore/Bengaluru,Intel,5-10 Yrs
2,Data Analyst,Bangalore/Bengaluru,Slice,0-2 Yrs
3,Senior Data Analyst,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",SYREN TECHNOLOGIES PRIVATE LIMITED,5-10 Yrs
4,Senior Data Analyst,Bengaluru/Bangalore,Flipkart,4-5 Yrs
5,Data Analyst,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,2-5 Yrs
6,Data Analyst (On Contract),Bangalore/Bengaluru,Rupeek Fintech Pvt Ltd,0-2 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,ExecBoardinAsia,5-10 Yrs
8,Senior Associate- Data Analyst,Bangalore/Bengaluru,Sapient,4-9 Yrs
9,Data Analyst,"Hyderabad/Secunderabad, Coimbatore, Thodupuzha...",CINDREBAY SCHOOL OF FASHION & INTERIOR DESIGN,1-4 Yrs

Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

In [74]:
driver = webdriver.Chrome(r"C:\Users\Abhijeet\Downloads\chromedriver_win32\chromedriver.exe")

In [75]:
driver.get('https://www.naukri.com/')

In [76]:
# Finding element for job search bar

search_job = driver.find_element_by_id('qsb-keyword-sugg')

search_job.send_keys('Data Scientist')

In [77]:
# Finding Element for Location 

search_loc = driver.find_element_by_id('qsb-location-sugg')

search_loc.send_keys('Bangalore')

In [78]:
# For clicking on search button

search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

search_btn.click()

In [79]:
# Making empty lists

job_title = []
company_name= []
location = []
exp =[]

In [85]:
title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

for i in title_tags:
    job_title.append(i.text)
    
job_titles = job_title[0:10]

company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

for i in company_tags:
    company_name.append(i.text)
    
company_names = company_name[0:10]

location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

for i in location_tags:
    location.append(i.text)
    
locations = location[0:10]

exp_tags= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

for i in exp_tags:
    exp.append(i.text)
    
    
exp_ = exp[0:10]

In [86]:
print(len(job_titles),len(company_names),len(locations),len(exp_))

10 10 10 10

In [87]:
df2 = pd.DataFrame({'Job_title':job_titles,'Location':locations,'Company_names':company_names,'Experience':exp_})
df2

,Job_title,Location,Company_names,Experience
0,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru\n(WFH during Covid),Samya.AI A FRACTAL Entity,3-8 Yrs
1,Data Scientist: Advanced Analytics,Bengaluru/Bangalore,IBM India Pvt. Limited,5-7 Yrs
2,Senior Engineer - AIML - Data Scientist,Bangalore/Bengaluru,Unisys,4-9 Yrs
3,Lead Data Scientist,"Palani, Bangalore/Bengaluru",Groww,6-10 Yrs
4,Jr. Data Analyst/ Jr. Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Sejal Consulting Hub,0-5 Yrs
5,Senior Data Scientist,"Pune, Bangalore/Bengaluru, Delhi / NCR",Wipro,4-9 Yrs
6,Cognitive/AI Senior Data Scientist,Bengaluru/Bangalore,IBM India Pvt. Limited,4-8 Yrs
7,Senior Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Wipro,5-10 Yrs
8,Lead Programmer - Data Scientist,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,3-8 Yrs
9,Senior Data Scientist,Bangalore/Bengaluru,Juniper Networks,11-15 Yrs

Q 3 - In this question you have to scrape data using the filters available on the webpage as shown below:

In [2]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
import warnings
warnings.simplefilter(action = 'ignore', category = DeprecationWarning)

In [37]:
driver = webdriver.Chrome(r"C:\Users\Abhijeet\Downloads\chromedriver_win32\chromedriver.exe")

In [38]:
driver.get('https://www.naukri.com/')

In [8]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")

search_job.send_keys('Data Scientist')

In [10]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

search_btn.click()

In [11]:
location_fil = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]")

location_fil.click()

In [12]:
salary_fil = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]")

salary_fil.click()

In [13]:
job_title = []
company_name= []
location = []
exp =[]

In [14]:
title_tags= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

for i in title_tags:
    job_title.append(i.text)
    
job_titles = job_title[0:10]

In [19]:
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

for i in company_tags:
    company_name.append(i.text)
    
company_names=company_name[0:10]

In [22]:
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

for i in location_tags:
    location.append(i.text)
    
locations = location[0:10]

In [28]:
exp_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

for i in exp_tags:
    exp.append(i.text)
    
experience = exp[0:10]

In [29]:
df3 = pd.DataFrame({'Job_titles':job_titles,'Locations':locations,'Company_names':company_names,'Experience':experience })

In [30]:
df3

,Job_titles,Locations,Company_names,Experience
0,Hiring For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tata Consultancy Services Ltd.,4-9 Yrs
1,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG Electronics India Pvt. Ltd.,0-2 Yrs
2,Project Manager | Team Leader | Senior Data Sc...,Remote,Tidyquant (OPC) Private Limited,1-5 Yrs
3,Data Scientist,"Gurgaon/Gurugram, Chennai",Teleperformance,4-9 Yrs
4,"NTT DATA_ Hiring For BIG DATA ,DATA Scientist,...","Noida, Kolkata, Hyderabad/Secunderabad, Ahmeda...",NTT Data Business Solutions Pvt Ltd,3-8 Yrs
5,Hiring For Data Analyst / Data Scientist,Noida(Sector-59 Noida),Careerera,1-3 Yrs
6,Data Scientist,"Noida, Pune, Mumbai (All Areas)",WEGARNER SOLUTIONS PRIVATE LIMITED,2-6 Yrs
7,Immediate requirement For Data Scientist,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",CALIBEHR BUSINESS SUPPORT SERVICES PRIVATE LIM...,2-7 Yrs
8,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs
9,Data Scientist,Gurgaon/Gurugram,Whizhack Technologies pvt ltd,2-5 Yrs

Scrape data of first 100 sunglasses listings on flipkart.com

In [75]:
driver.close()

In [44]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
import warnings
warnings.simplefilter(action = 'ignore', category = DeprecationWarning)

In [45]:
driver = webdriver.Chrome(r"C:\Users\Abhijeet\Downloads\chromedriver_win32\chromedriver.exe")

In [46]:
driver.get('https://www.flipkart.com/')

In [47]:
search_bar=driver.find_element_by_xpath("""//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input""")
search_bar.send_keys("Sunglasses")

search_bar.click()

In [59]:
brand1 =[]

brand1_tag = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

for i in brand1_tag:
    brand1.append(i.text)

    
prod_d1 = []

prod_d1_tag = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

for i in prod_d1_tag:
    prod_d1.append(i.text)
    
price1=[]

price1tag= driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

for i in price1tag:
    price1.append(i.text)

In [64]:
next_btn =driver.find_element_by_xpath("""//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]""")

next_btn.click()

In [65]:
brand2 =[]

brand2_tag = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

for i in brand2_tag:
    brand2.append(i.text)

    
prod_d2 = []

prod_d2_tag = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

for i in prod_d2_tag:
    prod_d2.append(i.text)
    
price2=[]

price2tag= driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

for i in price2tag:
    price2.append(i.text)

In [69]:
next_btn =driver.find_element_by_xpath("""//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span""")

next_btn.click()

In [70]:
brand3 =[]

brand3_tag = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

for i in brand3_tag:
    brand2.append(i.text)

    
prod_d3 = []

prod_d3_tag = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

for i in prod_d3_tag:
    prod_d3.append(i.text)
    
price3=[]

price3tag= driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

for i in price3tag:
    price3.append(i.text)

In [80]:
brand = brand1 + brand2 + brand3

prod_discription = prod_d1 + prod_d2 + prod_d3

price = price1 + price2 + price3

In [83]:
brands = brand[0:100]
product_disription = prod_discription[0:100]
price_=price[0:100]

In [84]:
driver.close()

Scrape 100 reviews data from flipkart.com for iphone11 phone

In [85]:
driver = webdriver.Chrome(r"C:\Users\Abhijeet\Downloads\chromedriver_win32\chromedriver.exe")

In [87]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [88]:
all_review = driver.find_element_by_xpath("""//*[@id="container"]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span""")

all_review.click()

In [99]:
next_btn = driver.find_elements_by_xpath("""//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span""")

next_btn.click()

AttributeError: 'list' object has no attribute 'click'

Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.

In [106]:
driver = webdriver.Chrome(r"C:\Users\Abhijeet\Downloads\chromedriver_win32\chromedriver.exe")

In [107]:
driver.get('https://www.flipkart.com/')

In [108]:
search_bar=driver.find_element_by_xpath("""//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input""")
search_bar.send_keys("Sneakers")

In [110]:
search_bar.submit()

In [112]:
brand1 = []
brandtag1 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

for i in brandtag1:
    brand1.append(i.text)
    
dis1 = []

distag1 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

for i in distag1:
    dis1.append(i.text)
    
price1 = []

pricetag1 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

for i in pricetag1:
    price1.append(i.text)
    

discount1=[]
disc1 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

for i in disc1:
    discount1.append(i.text)

In [116]:
next_btn = driver.find_element_by_xpath("""//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span""")

next_btn.click()

In [133]:
brand2 = []
brandtag2 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

for i in brandtag2:
    brand2.append(i.text)
    
dis2 = []

distag2 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

for i in distag2:
    dis2.append(i.text)
    
price2 = []

pricetag2 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

for i in pricetag2:
    price2.append(i.text)
    

discount2=[]
disc2 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

for i in disc2:
    discount2.append(i.text)

In [119]:
next_btn2= driver.find_element_by_xpath("""//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span""")

next_btn2.click()

In [134]:
brand3 = []
brandtag3 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

for i in brandtag3:
    brand3.append(i.text)
    
dis3 = []

distag3= driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

for i in distag3:
    dis3.append(i.text)
    
price3 = []

pricetag3 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

for i in pricetag3:
    price3.append(i.text)
    

discount3=[]
disc3 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

for i in disc3:
    discount3.append(i.text)

In [135]:
Brand = brand1 + brand2 + brand3
prod_dic = dis1 + dis2 + dis3
price = price1 + price2 + price3
discount = discount1 + discount2 + discount3

In [136]:
product_brand = Brand[0:100]
prodduct_discription = prod_dic[0:100]
product_price = price[0:100]
product_discount = discount[0:100]

In [138]:
driver.close()

Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.

In [139]:
driver = webdriver.Chrome(r"C:\Users\Abhijeet\Downloads\chromedriver_win32\chromedriver.exe")

In [140]:
driver.get('https://www.myntra.com/shoes')

In [145]:
color_filter = driver.find_element_by_xpath("""/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div""")

color_filter.click()

In [147]:
# Price range mentioned in question not found hence filtering 7187 to 14125
price_filter = driver.find_element_by_xpath("""/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div""")

price_filter.click()

In [157]:
brand1=[]

brandtag1 = driver.find_elements_by_xpath('//h3[@class="product-brand"]')

for i in brandtag1:
    brand1.append(i.text)
        
disc1 = []
disctag1 =driver.find_elements_by_xpath('//h4[@class="product-product"]') 
for i in disctag1:
    disc1.append(i.text)
    
price1 = []
pricetag=driver.find_elements_by_xpath('//div[@class="product-price"]')
for i in pricetag:
    price1.append(i.text)

In [161]:
next_btn = driver.find_element_by_xpath("""//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[12]/a""")

next_btn.click()

In [162]:
brand2=[]

brandtag2 = driver.find_elements_by_xpath('//h3[@class="product-brand"]')

for i in brandtag2:
    brand2.append(i.text)
        
disc2 = []
disctag2 =driver.find_elements_by_xpath('//h4[@class="product-product"]') 
for i in disctag2:
    disc2.append(i.text)
    
price2 = []
pricetag2=driver.find_elements_by_xpath('//div[@class="product-price"]')
for i in pricetag2:
    price1.append(i.text)

In [163]:
brand = brand1 + brand2
product_discription = disc1 + disc2
price = price1 + price2

In [166]:
driver.close()

Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After

In [1]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
import warnings
warnings.simplefilter(action = 'ignore', category = DeprecationWarning)

In [13]:
driver = webdriver.Chrome(r"C:\Users\Abhijeet\Downloads\chromedriver_win32\chromedriver.exe")

In [14]:
driver.get('https://www.amazon.in/')

In [15]:
search_bar = driver.find_element_by_id("twotabsearchtextbox")

In [16]:
search_bar.send_keys('laptop')

In [17]:
search_btn = driver.find_element_by_xpath('//div[@class="nav-search-submit nav-sprite"]')

search_btn.click()

In [18]:
filter1 = driver.find_element_by_xpath("""/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[11]/span/a/div/label/i""")

filter1.click()

In [19]:
filter2 = driver.find_element_by_xpath("""/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[1]/li[3]/span/a/div/label/i""")

filter2.click()

In [40]:
titles = []
title_tags = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags:
    titles.append(i.text)
    
Laptop_titles = titles[0:10]

price = []

price_tags = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
for i in price_tags:
    price.append(i.text)
    
Laptop_price = price[0:10]

rating = []

rating_tags = driver.find_elements_by_xpath('//*[@id="search"]/div[1]/div[1]/div/span[3]/div[2]/div[2]/div/span/div/div/div/div/div[2]/div[2]/div/div/div[2]/div/span[1]/span/a/i[1]/span')
for i in rating_tags:
    rating.append(i.text)

In [41]:
rating

['']

In [42]:
driver.close()

Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location

In [16]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.simplefilter(action = 'ignore', category = DeprecationWarning)

In [17]:
driver = webdriver.Chrome(r"C:\Users\Abhijeet\Downloads\chromedriver_win32\chromedriver.exe")

In [18]:
driver.get('https://www.ambitionbox.com/')

In [19]:
job_search = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')

job_search.click()

In [20]:
search_bar = driver.find_element_by_xpath('//*[@id="jobs-typeahead"]/span/input')

search_bar.send_keys('Data Scientist')

In [21]:
search_btn = driver.find_element_by_xpath('//button[@class="ab_btn search-btn round"]')
search_btn.click()

In [22]:
location_bar = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
location_bar.click()

In [23]:
search_bar2 = driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[2]/input')
search_bar2.send_keys('Noida')

In [24]:
select = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
select.click()

In [52]:
company_name = []

posted_tags = driver.find_elements_by_xpath('//p[@class="company body-medium"]')

for i in posted_tags:
    company_name.append(i.text)

In [57]:
posted_days=[]
posted_tags = driver.find_elements_by_xpath('//span[@class="body-small-l"]')

for i in posted_tags:
    posted_days.append(i.text)

In [70]:
rating = []

rating_tag = driver.find_elements_by_xpath('//a[@class="rating rating-4"]')
for i in rating_tag:
    rating.append(i.text)